.screenSize {
	width: 1024;
	height: 768;

}

body {
	background-color: #0C0C0C;
	padding: 0px;
	
}

#main {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;

}

#main_header {
	height: 100px;
	text-align: left;
	margin-bottom: 5px;
}

#main_header:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


#main_header img {
	float: left;
}

#main_header_info {
	display: inline-block;
	padding-top: 10px;
	float: right;
	text-align: right;
	font-size: 11px;
	
	margin-left: 60px;
	color: rgb(75,72,66);
}

#main_header_info a {
	display: block;
	text-decoration: none;
	color: rgb(75,72,66);
}

#main_header_info a:hover {
	text-decoration: none;
	color: rgb(131,116,92);
}

#mainStorage {
	display: none;
}

#mainCanvas {
	margin: 0 auto;

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
	
}

#lightbox {

	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	
	cursor: pointer;
	
	background-color: rgba(0,0,0,0.5);

}

.infoBox {
	position: absolute;
	width: 460px;
	height: 440px;
	padding: 10px;
	left: 50%;
	top: 120px;
	margin-left: -240px;
	background-color: rgba(245,245,245,0.75);
	font-size: 14px;

}

.infoBox a {
	color: rgb(10,10,10);
	transition: all 0.25s linear;
}

.infoBox a:hover {
	color: rgb(50,50,100);
}

.infoHeading {
	font-family: 'Oswald', sans-serif;
	font-size: 48px;
	margin-bottom: 16px;
	letter-spacing: -4px;	
}

